:root {
  height: 100%;
}

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.grid {
  display: grid;
}
.flex {
  display: flex;
}
.font_color {
  color: white;
}
.font_color2 {
  color: black;
}
.blue {
  color: blue;
}
.red {
  color: red;
}
.container {
  grid-template-rows: 0.2fr 10fr 0.8fr;
  height: 100%;
  width: 100%;
  background-color: black;
}
